In [8]:
'robert' in ['robert','alice']

True

In [9]:
x = 80
x >= 60 and x<=100
60 <= x <= 100

True

In [10]:
import pandas as pd

df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名', '國家', '日期', '總確診數', '新增確診數'])
df1

        洲名   國家          日期    總確診數  新增確診數
0       亞洲  阿富汗  2020-02-24       5      5
1       亞洲  阿富汗  2020-02-25       5      0
2       亞洲  阿富汗  2020-02-26       5      0
3       亞洲  阿富汗  2020-02-27       5      0
4       亞洲  阿富汗  2020-02-28       5      0
...     ..  ...         ...     ...    ...
187880  非洲  辛巴威  2022-07-02  255586      0
187881  非洲  辛巴威  2022-07-03  255586      0
187882  非洲  辛巴威  2022-07-04  255726    140
187883  非洲  辛巴威  2022-07-05  255755     29
187884  非洲  辛巴威  2022-07-06  255805     50

[187885 rows x 5 columns]

In [11]:
tw_jp_df = df1.query('國家 in ["台灣", "日本"]')
tw_jp_202101_df = tw_jp_df.query('"2021-01-01" <= 日期 <= "2021-01-31"')
tw_jp_202101_df

        洲名  國家          日期    總確診數  新增確診數
85971   亞洲  日本  2021-01-01  239005   3256
85972   亞洲  日本  2021-01-02  242076   3071
85973   亞洲  日本  2021-01-03  245242   3166
85974   亞洲  日本  2021-01-04  248585   3343
85975   亞洲  日本  2021-01-05  253534   4949
...     ..  ..         ...     ...    ...
164363  亞洲  台灣  2021-01-27     893      3
164364  亞洲  台灣  2021-01-28     895      2
164365  亞洲  台灣  2021-01-29     899      4
164366  亞洲  台灣  2021-01-30     909     10
164367  亞洲  台灣  2021-01-31     911      2

[62 rows x 5 columns]

In [15]:
tw_jp_202101_df.to_csv('tw_jp_202101.csv', index=False)
tw_jp_202101_df.to_excel('tw_jp_202101.xlsx', index=False, sheet_name='2021-01')
tw_jp_202101_df.to_json('tw_jp_202101.json', index=False, orient='table', force_ascii=False)

ModuleNotFoundError: No module named 'openpyxl'